docs/source/_theme
*.DS_Store
*.ipynb_checkpoints
*.pyc
development_notebooks
build/
dist/
hazma.egg-info
.idea
*.c
*.so
*.cpp
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.latexmkrc
*.log
*.out
*.pdf\*
*.synctex.gz
*.spl
.travis
manual/_minted-hazma_manual/*
manual/*.pdf
.vscode
.pypirc
.eggs/*
.python-version
.pytest_cache/
dev/
