docs/source/_theme
*.DS_Store
*.ipynb_checkpoints
*.pyc
development_notebooks
build/
hazma.egg-info
*.c
*.so
*.cpp
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf\*
*.synctex.gz
*.spl
manual/_minted-hazma_manual/*
manual/*.pdf
