global-include *.txt *.rst *.pyx *.pxd *.c *.md
include MANIFEST.in
include hazma/decay_helper_functions/interpolation_data/ckaon/*.dat
include hazma/decay_helper_functions/interpolation_data/skaon/*.dat
include hazma/decay_helper_functions/interpolation_data/lkaon/*.dat
include hazma/gamma_ray_data/*.dat
include hazma/cmb_data/*.dat
include hazma/relic_density/*.dat
